{% if page.page_header %}
<section id="page-header" class="clear">
  <div class="container">
    <div class="page-header clear">
      {{ page.page_header }}
    </div>
  </div><!-- /.container -->
</section>
{% endif %}
